body {
	font-family: source-sans-pro, serif !important;
	margin: 0 !important;
	height: 520px;
	color: #fff;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(right,  #a90329 7%, #8f0222 57%, #6d0019 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, right top, left bottom, color-stop(7%,#a90329), color-stop(57%,#8f0222), color-stop(92%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(right,  #a90329 7%,#8f0222 57%,#6d0019 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(right,  #a90329 7%,#8f0222 57%,#6d0019 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(right,  #a90329 7%,#8f0222 57%,#6d0019 92%); /* IE10+ */
	background: linear-gradient(right left,  #a90329 7%,#8f0222 57%,#6d0019 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.header {
	text-align: center;
}
.brand {
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	color: #fff;
}

.message {
	width: 100%;
	text-align: center;
}

.ticket {
	text-align: center;
	height: 254px;
	background: url("/img/build/ticket.png") center center;
	background-repeat: no-repeat;
}
.ticket h1 {
	font-size: 56px;
	font-weight: bold;
	line-height: 1.1;
	color: #444444;
	text-rendering: optimizeLegibility;
}
.ticket h2 {
	font-size: 26px;
	line-height: 1;
	color: #444444;
	text-rendering: optimizeLegibility;
}
.ticket h4 {
	font-size: 12px;
	line-height: 1;
	color: #444444;
	text-rendering: optimizeLegibility;
}

@media screen and (orientation:portrait) {

}

@media screen and (orientation:landscape) {
	
}

@media screen and (min-width: 321px) and (max-width: 480px) {
	
}