<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8">
    	<title>Qmatic</title>
			<meta name="apple-mobile-web-app-capable" content="yes">
			<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="Current visit">
    	<meta name="author" content="Qmatic">
			
			<link href="/visit/css/lib/bootstrap.min.css" rel="stylesheet">
			<link href="/visit/css/build/qmatic.css" rel="stylesheet">
			
			<script type="text/javascript" src="/visit/js/build/visit.min.js"></script>
	</head>
	
	<body>
    	<div class="header">
          <p class="brand">Qmatic</p>
        </div>
		
		<div class="container">
			<div class="ticket">
				<br/>
				<h1></h1>
				<h2>Ticket is finished</h2>
				<br/>
				<h4></h4>
				<h4></h4>
			</div>
		</div>
		
	</body>
</html>